<div id="navbar">
    <h1>LOVEPETSHOP</h1><br><br><br>
    <ul>
        <li><a id="btnHome">Home</a></li>
        <li><a id="btnVeterinario">Veterinário</a></li>
        <li><a id="btnBanho">Banho/Tosa</a></li>
        <li><a id="btnClientes">Clientes</a></li>
        <li style="background: black;"><a style="color:yellow" href="/logout">Sair</a></li>
    </ul><br>
    <p>Seja bem vindo de volta, <%=user.nome%>!</p>
    <i class="fa fa-paw"></i>
    <i class="copy">2022&copy;</i>
</div>