<div id="clientes">
    <h2>Cadastro de Clientes</h2>
    <form action="/clientes/save" method="post"> 
        <input type="text" name="nCliente" placeholder="Nome do cliente">

            <input type="text" name="endCliente" placeholder="Endereço">


            <input type="text" name="telCliente" placeholder="(11)0000-0000">
            
            

            <button type="submit">Cadastrar</button>
            <br>
            <small id="btnShowClientes" style="cursor: pointer; width: 180px;border:none;"><a  style="color:black">Consultar</a></small>
                 
    </form>
  
    
    
</div>